body {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    width: 100%;
    min-width: 1250px;

}

.startScreen {
    display: flex;
}

.mainPreview {
    display: block;
    width: 65%;
    padding: 25px;
    margin-right: 20px;
    border-radius: 15px;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.mainScreen {
    display: none;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.main-content {
    width: 65%;
    padding: 25px;
    margin-right: 20px;
    border-radius: 15px;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.questionTitle {
    justify-content: center;
    text-align: center;
}



.answer {
    display: block;
    font-size: 20px;
    margin: 5px;
}

.submitAnswer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 13px;
    padding: 10px;
    border-radius: 5px;
    background-color: green;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.generateQuestions {
    display: flex;
    margin: 0 auto;
    font-size: 13px;
    padding: 10px;
    border-radius: 5px;
    background-color: green;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.controlPanel {
    display: block;
    width: 20%;
    font-size: 10px;
    margin-top: 25px;
}

.result {
    display: none;
    width: 20%;
    margin-top: 25px;
}


input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    border-radius: 8px;
    height: 7px;
    border: 1px solid #bdc3c7;
    background-color: #fff;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #ecf0f1;
    border: 1px solid #bdc3c7;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.countQuestion {
    margin-top: 10px;
}

.leng {
    margin-top: 10px;
}

.topicTest {
    font-weight: bold;
}