body {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    width: 95%;
    min-width: 1250px;
    align-items: center;
    justify-content: center;
}

.question {
    display: flex;
    width: 800px;
    justify-content: center;
    text-align: center;
}

.answers {
    display: inline-block; 
    width: 80%;
    height: 80%;
    padding: 50px;
    border-radius: 15px;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.answer {
    display: block;
    font-size: 20px;
}

.submitAnswer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 30px;
    padding: 10px;
    border-radius: 5px;
    background-color: green;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.generateQuestions {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    background-color: green;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.controlPanel {
    width: 300px;
    font-size: 10px;
    margin-top: -25px;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    border-radius: 8px;
    height: 7px;
    border: 1px solid #bdc3c7;
    background-color: #fff;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #ecf0f1;
    border: 1px solid #bdc3c7;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.countQuestion {
    margin-top: 10px;
}

.leng {
    margin-top: 10px;
}

.topicTest {
    font-weight: bold;
}